<h1>Display Finished Calendar</h1>

<div class="calendar">
<div class='time-slot'></div>
<div class='time-slot'></div>
<div class='time-slot'></div>
<div class='time-slot'></div>
</div>
<br>
<!-- Replace data-href value with: <%#= event_results_url %> -->
<div class="fb-share-button" data-href="http://cnn.com" data-layout="button"></div>

<input type="button" id="btnSave1" value="Save Calendar"/>