<!-- ==============================================
HEADER
=============================================== -->
<header id="home" class="parallax-bg" data-parallax-background=<%= image_path "planner.jpg"%> data-stellar-background-ratio=".3">
  
  <div class="header-content">
    
    <!-- <%#= link_to root_path, :method => 'get', :class => 'header-logo' do %><i class="fa fa-angle-down">Plan 4 Me</i> -->
    <%# end %>
  
    <div class="flexslider header-slider" data-speed = '3000'>
    
      <ul class="slides">
      
        <li><h1 class="bordered-text">Welcome to <span class="primary">Plan 4 Me</span></h1></li>
        <li><h1 class="bordered-text"><span class="primary">Locate </span>Your Event</h1></li>
        <li><h1 class="bordered-text">Select <span class="primary">Nearby </span>Places</h1></li>
        <li><h1 class="bordered-text">Plan <span class="primary">Your Day</span></h1></li>
        
      </ul>
      
    </div><!--End home-slider -->
    
    <%= link_to events_whatwedo_path, :method => 'get', :class => 'scroll-button scrollto' do %>
      <i class="fa fa-mail-forward"></i>
      <% end %>
      
  </div>
  
</header><!--End header -->