    <!-- ==============================================
    TEAM
    =============================================== -->
    <section id="team-part" class="gray-bg padding-top-bottom">
    
      <div class="container">
        
        <h1 class="section-title">Meet the Team</h1>
        <p class="section-description">We are a small team with great skills. See the faces behind the lines of code. </p>
            
        <div class="row">
        
          <div class="col-md-3 col-sm-6 team-member scrollimation fade-up d1">
          
            
            
          </div>
          
          <div class="col-md-3 col-sm-6 team-member scrollimation fade-up d1">
          
            <div class="member-thumb">
              <%= image_tag "team/sofia-ma.jpg", class:"img-responsive img-image", alt:"" %>
              
              <ul class="member-socials">
                <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
              </ul>
              
            </div>
            
            <div class="member-details">
              <h4>Sofia Ma</h4>
              <p class="title">Web Developer</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            
          </div>
          
          <div class="col-md-3 col-sm-6 team-member scrollimation fade-up">
          
            <div class="member-thumb">
              <%= image_tag "team/mike-dorfman.jpg", class:"img-responsive img-image", alt:"" %>
              
              <ul class="member-socials">
                <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
              </ul>
              
            </div>
            
            <div class="member-details">
              <h4>Mike Dorfman</h4>
              <p class="title">Web Developer</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            
          </div>
          
          <div class="col-md-3 col-sm-6 team-member scrollimation fade-up d1">
            
          </div>
          
        </div>
      
      </div>
    
    </section>