<!-- ==============================================
SERVICES
=============================================== -->
<section id="services" class="gray-bg padding-top">

  <div class="container">
    
    <h1 class="section-title">What We Do</h1>
    <p class="section-description">We help you plan around your ticketed event.<br/> Suggesting restaurants, nightlife, and sights nearby!</p>
    
    <div class="row services">
    
      <div class="col-md-3 col-sm-6 item text-center scrollimation fade-right d1">
    
        <div class="icon"><i class="fa fa-search"></i></div>
        <h3>Find your event</h3>
        <p>Search for your event by entering its name and date.</p>
        
      </div>
      
      <div class="col-md-3 col-sm-6 item text-center scrollimation fade-right">
    
        <div class="icon"><i class="fa fa-check"></i></div>
        <h3>Confirm your event</h3>
        <p>From the results received via SeatGeek.</p>
        
      </div>
      
      <div class="col-md-3 col-sm-6 item text-center scrollimation fade-left">
    
        <div class="icon"><i class="fa fa-cutlery"></i></div>
        <h3>Make your itinerary</h3>
        <p>With results provided from Yelp and FourSquare.</p>
        
      </div>
      
      <div class="col-md-3 col-sm-6 item text-center scrollimation fade-left d1">
    
        <div class="icon"><i class="fa fa-calendar"></i></div>
        <h3>Save your plans!</h3>
        <p>By exporting it to your Google Calendar.</p>
        
      </div>
      
    </div>
    
    <p class="text-center">
      <%= link_to new_event_path, :method => 'get', :class => 'btn btn-quattro scrollto' do %>Let's Start !
      <% end %>
    </p>
    
  </div>
  
</section>