.go-button{
    position:absolute;
    bottom:30px;
    left:50%;
    margin-left:-72px;
    color:#fff !important;
    padding:10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-animation: moving 2s ease-out infinite;
    animation: moving 2s ease-out infinite;
    background-color: #EA8825;
}