.time-slot, .event{
  height: 130px;
  border: 1px solid #000;
  padding: 5px;
  background-color: #D9D9D9
}

.activity{
  height: 130px;
  padding: 5px;
  border: 1px solid #000;
}

#map{
  left: 20px;
  width: 48%;
  height: 1000px;
}

#calendar{
  right: 20px;
  width: 48%;
  float: right;
}

#food{
  left: 20px;
  width: 30%;
  float: left;
}

#night{
  float: left;
  width: 30%;
}

#sights{
  float: left;
  width: 30%;
}

.closon {
    position: absolute;
    top: -2px;
    right: 0;
    cursor: crosshair;
    z-index: 5;
  }