.activity{
  margin: 10px;
  display: block;
  width: 150px;
  overflow: hidden;
  font-size: 8px;
}

#map { 
  height: 400px; 
}

.event-time, .event-utc{
  display: none;
}

.activity .title{
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
}

#btnSave1{
  left: 100px;
}

.external-events .activity{
}

.google{
  background-color: #D14130;
  /*width: 100px;*/
  /*margin-right: 0;*/
}