.activity{
  margin: 10px;
  display: block;
  width: 150px;
  overflow: hidden;
  font-size: 8px;
}

.event-time, .event-utc{
  display: none;
}

.activity .title{
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
}

#btnSave1{
  left: 100px;
}

.external-events .activity{
}

#map{
  left: 20px;
  width: 48%;
  height: 1000px;
}

.google{
  background-color: #D14130;
  /*width: 100px;*/
  /*margin-right: 0;*/
>>>>>>> layout
}