.time-slot, .event{
  height: 130px;
  border: 1px solid #000;
  padding: 5px;
  background-color: #D9D9D9
}

.activity{
  margin: 10px;
  display: block;
  width: 150px;
  font-size: 14px;
}

#map { height: 180px; }

.event-time, .event-utc{
  display: none;
}