<!-- ==============================================
FOOTER
=============================================== --> 
<footer id="main-footer">

  <div class="container text-center">
  
    <%#= image_tag "logo-black.png", class:"img-responsive img-center footer-logo", alt:"" %>
  
    <ul class="social-links">
      <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>
    <p>&copy;2014  Made by <a href="https://http://flatironschool.com/" target="_blank">Flatiron School</a> Students</p>
    
  </div>
  
</footer>